* {
    padding: 0px;
    margin: 0px;
}

body {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 880px;
    background-image: url(../imagenes/Banner-hoteles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.header .container {
    display: flex;
}

.header .m {
    margin: 0 15px 0 10px;
}

.header::before {
    content: '';
    width: 100%;
    min-height: 50vh;
    position: absolute;
    top: 0;
    left: 0;

}

.header img {
    width: 100%;
    max-height: 80vh;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 400px) {
    .header img {
        background-image: url('img_flowers.jpg');
    }
}


.text-banner h1 p {
    font-family: 'Montserrat';
}

.text-banner {
    height: 90vh;
    color: #ffffff;
}


.text-banner p {
    font-size: 1.3em;
}

.text-banner strong {
    font-size: 1.1em;
    font-family: 'Anton';
}


.jumbotron {
    background-color: yellow;
    color: black;
}

.card-hotel {
    flex: 1 250px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.footer-redsocial-icon {
    margin-left: 1em;
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* table de precios.html*/
.tab-content {
    padding-top: 10px;
}


/* card */

.card-body .h5 {
    margin-top: 5px;
}

.carousel .car {
    height: 750px;
}

.carousel h5 {
    font-size: 24px;
    padding: 9px;
    border-radius: 8px;
    background: #FDD835;
}