@amarillo: #FFEB3B;
@rojo: #c62828;
@verde: #558B2F;
@naranja: #E65100;


.relleno(@top, @left, @bottom, @right) {
    padding-top: @top;
    padding-left: @left;
    padding-bottom: @bottom;
    padding-right: @right;
}

.margenes(@top, @left, @bottom, @right) {
    margin-top: @top;
    margin-left: @left;
    margin-bottom: @bottom;
    margin-right: @right;
}


.margentop(@top) {
    margin-top: @top
}

.margenbottom(@bottom) {
    margin-bottom: @bottom
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 880px;
    background-image: url(../imagenes/Banner-hoteles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.header .container {
    display: flex;
}

.header .m {
    .margenes(0, 15px, 0, 10px);
}

.header::before {
    content: '';
    width: 100%;
    min-height: 50vh;
    position: absolute;
    top: 0;
    left: 0;

}

.header img {
    width: 100%;
    max-height: 80vh;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 400px) {
    .header img {
        background-image: url('img_flowers.jpg');
    }
}


.text-banner h1 p {
    font-family: 'Montserrat';
}

.text-banner {
    height: 90vh;
    color: #ffffff;
}


.text-banner p {
    font-size: 1.3em;
}

.text-banner strong {
    font-size: 1.1em;
    font-family: 'Anton';
}


.jumbotron {
    background-color: yellow;
    color: black;
}

.card-hotel {
    flex: 1 250px;
    .margentop(10px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    .margenes(10px,0,0,0);
}

.footer-addres-icon {
    .relleno(0,0,0,10px);
}

.footer-redsocial-icon {
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    .margenes(0,0,0,1em);
}


/* table de precios.html*/
.tab-content {
    .relleno(10px,0,0,0);
}


/* card */

.card-body .h5 {
    .margentop(5px)
}

.carousel .car {
    height: 750px;
}

.carousel h5 {
    font-size: 24px;
    border-radius: 8px;
    background: #FDD835;
    .relleno(9px,9px,9px,9px);
}