$amarillo: #FDD835
$rojo: #c62828
$verde: #558B2F
$naranja: #FF6D00
$morado: #7B1FA2

$letra-h1: 'Montserrat'

@mixin relleno($top, $left, $bottom, $right)
    padding-top: $top
    padding-left: $left
    padding-bottom: $bottom
    padding-right: $right

@mixin margenes($top, $left, $bottom, $right)
    margin-top: $top
    margin-left: $left
    margin-bottom: $bottom
    margin-right: $right


@mixin margentop($top)
    margin-top: $top

@mixin margenbottom($bottom)
    margin-bottom: $bottom

@mixin margenleft($left)
    margin-left: $left


*
    padding: 0px
    margin: 0px


body
    box-sizing: border-box


.header
    width: 100%
    height: 680px
    background-image: url(../imagenes/Banner-hoteles.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: 100% 100%
    background-attachment: fixed

.header 
    img
        width: 100%
        height: 680px

.header .container
    display: flex


.header 
    .m
        @include margenes(0, 15px, 0, 10px)


.header::before
    content: ''
    width: 100%
    min-height: 50vh
    position: absolute
    top: 0
    left: 0


h3
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif


@media only screen and (min-width: 400px) 
    .header img 
      background-image: url('img_flowers.jpg')
    
  


.text-banner 
    h1 p
        font-family: 'Montserrat'


.text-banner
    height: 90vh
    color: #ffffff



.text-banner 
    p
        font-size: 1.3em


.text-banner 
    strong
        font-size: 1.1em
        font-family: 'Anton'



.jumbotron
    background-color: $amarillo
    color: black


.card-hotel
    flex: 1 250px
    @include margentop(10px)


.btn-reserva
    width: 100%
    border-radius: 0px


footer
    @include relleno(10px, 10px, 0, 10px)
    background-color: $amarillo
    @include margenes(10px,0,0,0)


.footer-addres-icon
    @include relleno(0,0,0,10px)


.footer-redsocial-icon
    @include margenes(0,0,0,1em)
    color: black
    font-size: 1em
    text-decoration: none
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"



/* table de precios.html*/
.tab-content
    @include relleno(10px,0,0,0)



/* card */

.card-body 
    .h5
        @include margentop(5px)


.carousel 
    .car
        height: 750px


.carousel h5
    font-size: 24px
    border-radius: 8px
    @include relleno(7px,0,7px,0)

.back1
    background-color: $amarillo

.back2
    background-color: $verde

.back3
    background-color: $rojo

.texto-centro
    text-align: justify

.terminos
    ul 
        @include margenleft(55px)

.section-title 
  padding-bottom: 30px

