* {
  padding: 0px;
  margin: 0px;
}

body {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 680px;
  background-image: url(../imagenes/Banner-hoteles.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.header img {
  width: 100%;
  height: 680px;
}

.header .container {
  display: flex;
}

.header .m {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
  margin-right: 10px;
}

.header::before {
  content: "";
  width: 100%;
  min-height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (min-width: 400px) {
  .header img {
    background-image: url("img_flowers.jpg");
  }
}
.text-banner h1 p {
  font-family: "Montserrat";
}

.text-banner {
  height: 90vh;
  color: #ffffff;
}

.text-banner p {
  font-size: 1.3em;
}

.text-banner strong {
  font-size: 1.1em;
  font-family: "Anton";
}

.jumbotron {
  background-color: #FDD835;
  color: black;
}

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-right: 10px;
  background-color: #FDD835;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.footer-addres-icon {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 10px;
}

.footer-redsocial-icon {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 1em;
  color: black;
  font-size: 1em;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* table de precios.html*/
.tab-content {
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

/* card */
.card-body .h5 {
  margin-top: 5px;
}

.carousel .car {
  height: 750px;
}

.carousel h5 {
  font-size: 24px;
  border-radius: 8px;
  padding-top: 7px;
  padding-left: 0;
  padding-bottom: 7px;
  padding-right: 0;
}

.back1 {
  background-color: #FDD835;
}

.back2 {
  background-color: #558B2F;
}

.back3 {
  background-color: #c62828;
}

.texto-centro {
  text-align: justify;
}

.terminos ul {
  margin-left: 55px;
}

.section-title {
  padding-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
