/* line 1, css/style.css */
* {
  padding: 0px;
  margin: 0px; }

/* line 5, css/style.css */
body {
  box-sizing: border-box; }

/* line 8, css/style.css */
.header {
  width: 100%;
  height: 680px;
  background-image: url(../imagenes/Banner-hoteles.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed; }

/* line 17, css/style.css */
.header img {
  width: 100%;
  height: 680px; }

/* line 21, css/style.css */
.header .container {
  display: flex; }

/* line 24, css/style.css */
.header .m {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
  margin-right: 10px; }

/* line 30, css/style.css */
.header::before {
  content: '';
  width: 100%;
  min-height: 50vh;
  position: absolute;
  top: 0;
  left: 0; }

/* line 38, css/style.css */
h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

@media only screen and (min-width: 400px) {
  /* line 42, css/style.css */
  .header img {
    background-image: url("img_flowers.jpg"); } }

/* line 45, css/style.css */
.text-banner h1 p {
  font-family: 'Montserrat'; }

/* line 48, css/style.css */
.text-banner {
  height: 90vh;
  color: #ffffff; }

/* line 52, css/style.css */
.text-banner p {
  font-size: 1.3em; }

/* line 55, css/style.css */
.text-banner strong {
  font-size: 1.1em;
  font-family: 'Anton'; }

/* line 59, css/style.css */
.jumbotron {
  background-color: #FDD835;
  color: black; }

/* line 63, css/style.css */
.card-hotel {
  flex: 1 250px;
  margin-top: 10px; }

/* line 67, css/style.css */
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

/* line 71, css/style.css */
footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-right: 10px;
  background-color: #FDD835;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0; }

/* line 82, css/style.css */
.footer-addres-icon {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 10px; }

/* line 88, css/style.css */
.footer-redsocial-icon {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 1em;
  color: black;
  font-size: 1em;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }

/* table de precios.html*/
/* line 99, css/style.css */
.tab-content {
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0; }

/* card */
/* line 106, css/style.css */
.card-body .h5 {
  margin-top: 5px; }

/* line 109, css/style.css */
.carousel .car {
  height: 750px; }

/* line 112, css/style.css */
.carousel h5 {
  font-size: 24px;
  border-radius: 8px;
  padding-top: 7px;
  padding-left: 0;
  padding-bottom: 7px;
  padding-right: 0; }

/* line 120, css/style.css */
.back1 {
  background-color: #FDD835; }

/* line 123, css/style.css */
.back2 {
  background-color: #558B2F; }

/* line 126, css/style.css */
.back3 {
  background-color: #c62828; }

/* line 129, css/style.css */
.texto-centro {
  text-align: justify; }

/* line 132, css/style.css */
.terminos ul {
  margin-left: 55px; }

/* line 135, css/style.css */
.section-title {
  padding-bottom: 30px; }
